page-inventoris-menus {
    .content {
        background: #333;
        .list-ios {
            margin-bottom: 0;
            ion-item {
                color: #fff;
                background: none;
                &.item > ion-icon {
                    font-size: 1.2em;
                    min-height: 1.2em;
                }
            }
        }
    }
}

.inventorisMenus.popover-ios {
    .popover-content {
        width: 120px;
    }
    .popover-arrow::after {
        background: #333;
    }
}
