<ion-list-header no-lines>
  照片
  <button
    *ngIf="picPermission!==0"
    ion-button
    icon-only
    item-end
    clear
    type="button"
    (tap)="chooseType()"
  >
    <ion-icon name="md-add"></ion-icon>
  </button>
</ion-list-header>

<div class="img-container" *ngIf="pics.length>0">
  <ion-grid>
    <ion-row>
      <ion-col col-2 *ngFor="let pic of pics" class="img-col">
        <div class="img-item" *ngIf="pic.uri">
          <img
            [src]="fileBasePath+pic.uri"
            alt=""
            (click)="viewPic(fileBasePath+pic.uri)"
          />
          <span
            class="delete-img"
            (click)="deletePic(pic.docId)"
            *ngIf="picPermission===2"
          >
            <ion-icon [name]="'delete-grey'"></ion-icon>
          </span>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
