page-inventoris {
  ion-card-header.card-header-ios {
    padding: 8px 10px;
    border-bottom: 1px solid rgba(221, 225, 233, 1);
    font-size: 18px;
    color: #2b2e30;
    letter-spacing: 0;
    font-weight: 600;
  }
  .search {
    .select-item {
      margin-left: 16px;
      display: inline-block;
      width: 159px;
      padding-left: 13px;
      height: 36px;
      line-height: 36px;
      font-size: 1.6rem;
      color: #2585cb;
      letter-spacing: 0;
      font-weight: 400;

      border: 1px solid rgba(97, 168, 250, 1);
      border-radius: 6px;
      background: url('../assets/imgs/list/select-arrow.png') no-repeat
        calc(100% - 12px) center;
      background-color: #e7f2fd;
    }
  }
  .card.card-ios {
    background: #ffffff;
    box-shadow: 0px 4px 10px 1px rgba(138, 169, 185, 0.15);
    border-radius: 12px;
    margin: 2.1rem;
    width: calc(100% - 4.2rem);
  }
  .inventoris-img {
    height: 100px;
    background-position: center center;
    background-size: cover;
  }
  ion-row {
    button.button-clear-ios {
      color: #2585cb;
    }
    [icon-start] ion-icon {
      font-size: 1em;
    }
  }
  .card-header-ios + .card-content-ios {
    padding-top: 10px;
  }
  .card-content-ios {
    padding: 10px 10px 0;
    p {
      font-size: 13px;
      color: #919ba3;
      letter-spacing: 0;
      font-weight: 400;
    }
  }
  .text-input {
    text-align: center;
    background-color: #f4f4f4;
    height: 30px;
    margin: 0;
    color: #727272;
    border-radius: 64px;
    padding: 0 2.6rem;
  }
}
