<ion-header>
  <ion-navbar>
    <ion-title>
      设备列表
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar
    placeholder="输入设备编号/名称"
    [(ngModel)]="search"
    (input)="query($event)"
  ></ion-searchbar>
  <ion-list>
    <ul>
      <li *ngFor="let equ of equipList; let i = index" (click)="select(equ)">
        {{ equ.deviceName }}
        <div class="active" *ngIf="equ.select"></div>
      </li>
      <ion-infinite-scroll
        (ionInfinite)="doInfinite($event)"
        *ngIf="canInfinite"
      >
        <ion-infinite-scroll-content
          loadingSpinner="bubbles"
          loadingText="加载更多..."
        >
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
    </ul>
  </ion-list>
</ion-content>

<ion-footer>
  <!-- <button ion-button color="light">Lsight</button> -->
  <!-- <button ion-button color="secondary">Default</button> -->
  <div class="bnt">
    <span (click)="prev()">重置</span><span (click)="next()">确定</span>
  </div>
</ion-footer>
