page-repair-ticket {
  ion-header .icon {
    color: #5a6371;
  }
  .card-item {
    height: 140px;
    .left-line {
      .line-icon {
        width: 10px;
        height: 10px;
        top: 6px;
        left: -5px;
        background: url(../assets/imgs/operations/job-record/icon.png);
      }
    }
  }
  .remind-icon {
    float: right;
    background: #5eade7;
    color: #fff;
    padding: 1px 10px;
    border-radius: 10px;
    font-size: 12px;
  }
}
