page-defect-management {
  ion-header .icon {
    color: #5a6371;
  }

  .remind-icon {
    float: right;
    background: #40aef5;
    border-radius: 3px;
    padding: 0px 10px;
    height: 24px;
    line-height: 24px;
    font-size: 13px;
    color: #ffffff;
    font-weight: 500;
  }
}
