<ion-content>
  <div class="common-search-container">
    <div class="common-search">
      <div class="button-picker border-bottom">
        <div class="query-label">电站</div>
        <button ion-button round small color="light" (click)="selectStation()">
          {{(station?.title)||'未选择'}}
          <!-- <img
                        *ngIf="station"
                        (click)="clearStation($event)"
                        class="clear-icon"
                        src="assets/imgs/buttons/delete.png"
                        alt=""
                    /> -->
          <ion-icon
            *ngIf="station"
            (click)="clearStation($event)"
            class="clear-icon"
            name="delete"
          ></ion-icon>
        </button>
      </div>
      <div class="time-picker border-bottom">
        <div class="query-label">日报时间</div>
        <ion-datetime
          displayFormat="YYYY-MM-DD"
          doneText="确定"
          [(ngModel)]="startTime"
          [pickerOptions]="customStartPickerOptions"
        ></ion-datetime>
        <div class="line">-</div>
        <ion-datetime
          displayFormat="YYYY-MM-DD"
          doneText="确定"
          [pickerOptions]="customEndPickerOptions"
          [(ngModel)]="endTime"
        ></ion-datetime>
      </div>
      <div class="select-picker">
        <div class="query-label">填报状态</div>
        <ion-grid>
          <ion-row>
            <ion-col col-6>
              <div
                class="select-option"
                [ngClass]="{'active-option': status===1}"
                (click)="selectStatus(1)"
              >
                已填报
              </div></ion-col
            >
            <ion-col col-6>
              <div
                class="select-option"
                [ngClass]="{'active-option': status===0}"
                (click)="selectStatus(0)"
              >
                未填报
              </div></ion-col
            >
          </ion-row>
        </ion-grid>
      </div>
      <ion-list>
        <ion-row class="fix-bottom">
          <ion-col col-6 text-center>
            <button
              ion-button
              round
              small
              class="reset-btn"
              color="light"
              (click)="reset()"
            >
              重置
            </button>
          </ion-col>
          <ion-col col-6 text-center>
            <button ion-button round small class="query-btn" (click)="ok()">
              查询
            </button>
          </ion-col>
        </ion-row>
      </ion-list>
    </div>
  </div>
</ion-content>
