<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button icon-only (click)="close()">
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title> 电站 </ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar
      [(ngModel)]="param.myInput"
      placeholder="电站名称模糊搜索"
      (ionInput)="onCancel($event)"
    >
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="!isshowelectedList">
  <ng-container *ngIf="switch">
    <div class="select-div">
      <div class="other-title">
        <span class="title">区域</span>
      </div>
      <div class="craft-div-box">
        <div
          class="craft-div"
          *ngFor="let province of provinces"
          [class.active]="province.id == param.provinceId"
          (click)='select("provinceId",province.id)'
        >
          {{province.name}}
        </div>
      </div>
      <div class="other-title">
        <span class="title">类型</span>
      </div>
      <div class="craft-div-box">
        <div
          class="device-div"
          *ngFor="let stationType of stationTypes"
          [class.active]="stationType.id == param.stationTypeId"
          (click)='select("stationTypeId",stationType.id)'
        >
          {{stationType.name}}
        </div>
      </div>
    </div>
  </ng-container>
  <div class="open" (click)="switch=!switch">
    <div></div>
  </div>

  <div class="notice-list-box">
    <div
      class="new-notice-list"
      *ngFor="let station of stationList"
      (click)="close(station)"
    >
      <div class="notice">
        <div class="notice-title">{{station.title}}</div>
        <div class="notice-subtitle">
          <div class="notice-subtitle-content">
            <span>{{getValue(station.text1,0)}}:</span>
            <span>{{getValue(station.text1,1)}}</span>
          </div>
        </div>
        <div class="notice-subtitle">
          <div class="notice-subtitle-content">
            <span>{{getValue(station.text3,0)}}:</span>
            <span>{{getValue(station.text3,1)}}</span>
          </div>
        </div>
      </div>
      <div class="left-img">
        <img src="assets/imgs/list/station.png" class="alarm-img" />
        <div class="line"></div>
      </div>
      <ion-icon
        name="ios-checkmark-circle"
        class="multi-select-icon"
        *ngIf="isMultiSelect && isSelect(station)"
      ></ion-icon>
    </div>
    <ion-infinite-scroll
      (ionInfinite)="doInfinite($event)"
      *ngIf="!noDoInfinite"
    >
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="加载更多数据..."
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>
</ion-content>
<ion-content *ngIf="isshowelectedList">
  <ion-list>
    <ion-item>
      <!-- {{ selectedStation.title }} -->
    </ion-item>
    <ion-item
      *ngFor="let selectedStation of selectedStationList;let i = index"
      class="select-list"
    >
      <img src="assets/imgs/list/station.png" />

      <h2>{{ selectedStation.title }}</h2>

      <ion-icon
        name="md-close-circle"
        item-end
        class="delete-icon"
        (click)="delate(i)"
      ></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer *ngIf="isMultiSelect">
  <ion-toolbar>
    <div class="footer-multi-select-button" (click)="showElectedList()">
      已选({{getSelectStationNum()}})

      <ion-icon
        name="ios-arrow-down-outline"
        item-end
        class="footer-multi-select-button-icon"
        *ngIf="isshowelectedList"
      ></ion-icon>
      <ion-icon
        name="ios-arrow-up-outline"
        item-end
        class="footer-multi-select-button-icon"
        *ngIf="!isshowelectedList"
      ></ion-icon>
    </div>
    <div class="footer-multi-select-button button-right" (click)="submit()">
      确定
    </div>
  </ion-toolbar>
</ion-footer>
