page-common-defect-code {
    ion-icon {
        color: #54a4e4;
        font-size: 2.5em;
        line-height: 40px;
    }
}
.commonDefectCodeModal {
    .modal-wrapper {
        height: 180px;
        margin-top: -90px;
    }
}
