page-common-defect-objects {
    .obj-list {
        background: #fff;
        padding: 0;
    }
    .obj-item {
        &:not(:last-child) {
            border-bottom: 1px solid #f0f0f0;
        }
        img {
            width: 18px;
        }
        padding: 5px;
    }
    .obj-name {
        font-size: 14px;
        color: #5eade7;
    }
    .obj-company {
        font-size: 12px;
        margin: 5px 0;
    }
    .obj-provider {
        font-size: 12px;
    }
    .delete-item {
        text-align: center;
        margin-top: 8px;
        line-height: 56px;
    }
}
