<!--
  Generated template for the InspectionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>巡检单</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="searchMenu()">
        <ion-icon name="search" style="font-size: 1.4em"></ion-icon>
      </button>
      <button ion-button icon-only (click)="addInspections($event)">
        <ion-icon name="add-square" style="font-size: 1.4em"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="card-list" #search>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="下拉刷新"
      refreshingSpinner="circles"
      refreshingText="正在刷新..."
    ></ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <div class="card-item" *ngFor="let inspectionsItem of inspectionsList">
      <div class="left-line">
        <div class="line-icon"></div>
      </div>
      <div class="right-content">
        <div class="title">{{inspectionsItem.time}}</div>
        <ion-card
          (click)="editInspections(inspectionsItem.id,inspectionsItem.type)"
        >
          <ion-card-header>
            {{inspectionsItem.title}}
            <span
              *ngIf="inspectionsItem.status"
              class="inspectionsItem-info"
              [ngClass]="{'inspectionsItem-01': inspectionsItem.status==='已完成','inspectionsItem-02': inspectionsItem.status==='处理中','inspectionsItem-03': inspectionsItem.status==='未开始','inspectionsItem-04': inspectionsItem.status==='未分配'}"
              >{{inspectionsItem.status}}</span
            ></ion-card-header
          >
          <ul class="ion-card-content">
            <li class="ell">{{inspectionsItem.item1}}</li>
            <li class="ell">{{inspectionsItem.item2}}</li>
            <li class="ell">{{inspectionsItem.item4}}</li>
          </ul>
          <!-- <div
            *ngIf="inspectionsItem.status"
            class="card-tip"
            [style.background-color]="inspectionsItem.statusStyle"
          >
            {{inspectionsItem.status}}
          </div> -->
        </ion-card>
      </div>
    </div>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="deBounceFnc($event, 2000)">
    <ion-infinite-scroll-content
      loadingSpinner="crescent"
      loadingText="加载更多数据..."
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ng-container *ngIf="showMenu">
  <ion-menu
    [content]="search"
    side="right"
    id="search"
    type="overlay"
    [swipeEnabled]="true"
    class="search-menu"
  >
    <ion-content class="outer-content" no-bounce>
      <div class="common-search-container">
        <div class="common-search">
          <div class="select-picker border-bottom">
            <div class="query-label">快速查询</div>
            <ion-grid>
              <ion-row>
                <ion-col col-4 *ngFor="let item of aQueryFlag">
                  <div
                    class="select-option"
                    [ngClass]="{'active-option': searchParams.queryFlag===item.first}"
                    (click)="selectQuickSearch(item.first)"
                  >
                    {{item.second}}
                  </div></ion-col
                >
              </ion-row>
            </ion-grid>
          </div>
          <div class="input-picker border-bottom">
            <div class="query-label">巡检单号</div>
            <ion-input
              type="text"
              [(ngModel)]="searchParams.ispectionCode"
            ></ion-input>
          </div>
          <div class="button-picker border-bottom">
            <div class="query-label">电站</div>
            <button
              ion-button
              round
              small
              color="light"
              (click)="selectStation()"
            >
              {{(station?.title)||'未选择'}}
              <!-- <img
                                *ngIf="station"
                                (click)="clearStation($event)"
                                class="clear-icon"
                                src="assets/imgs/buttons/delete.png"
                                alt=""
                            /> -->
              <ion-icon
                *ngIf="station"
                (click)="clearStation($event)"
                class="clear-icon"
                name="delete"
              ></ion-icon>
            </button>
          </div>
          <div class="time-picker border-bottom">
            <div class="query-label">巡检时间</div>
            <ion-datetime
              displayFormat="YYYY-MM-DD"
              pickerFormat="YYYY/MM/DD"
              doneText="确定"
              [(ngModel)]="searchParams.startTime"
              [pickerOptions]="customStartTimePickerOptions"
            ></ion-datetime>
            <div class="line">-</div>
            <ion-datetime
              displayFormat="YYYY-MM-DD"
              pickerFormat="YYYY/MM/DD"
              doneText="确定"
              [pickerOptions]="customEndTimePickerOptions"
              [(ngModel)]="searchParams.endTime"
            ></ion-datetime>
          </div>
          <div class="button-picker border-bottom">
            <div class="query-label">负责人</div>
            <button ion-button round small color="light" (click)="selectUser()">
              {{(responsiblePerson?.realName)||'未选择'}}
              <!-- <img
                                *ngIf="responsiblePerson"
                                (click)="clearUser($event)"
                                class="clear-icon"
                                src="assets/imgs/buttons/delete.png"
                                alt=""
                            /> -->
              <ion-icon
                *ngIf="responsiblePerson"
                (click)="clearUser($event)"
                class="clear-icon"
                name="delete"
              ></ion-icon>
            </button>
          </div>
          <div class="button-picker">
            <div class="query-label">巡检设备</div>
            <button
              class="ell"
              ion-button
              round
              small
              color="light"
              (click)="selectEquipment()"
            >
              {{(equipment?.deviceName)||'未选择'}}
              <!-- <img
                                *ngIf="equipment"
                                (click)="clearEquipment($event)"
                                class="clear-icon"
                                src="assets/imgs/buttons/delete.png"
                                alt=""
                            /> -->
              <ion-icon
                *ngIf="equipment"
                (click)="clearEquipment($event)"
                class="clear-icon"
                name="delete"
              ></ion-icon>
            </button>
          </div>
        </div>
        <ion-list>
          <ion-row class="fix-bottom">
            <ion-col col-6 text-center>
              <button
                ion-button
                round
                small
                class="reset-btn"
                color="light"
                (click)="reset()"
              >
                重置
              </button>
            </ion-col>
            <ion-col col-6 text-center>
              <button ion-button round small class="query-btn" (click)="ok()">
                查询
              </button>
            </ion-col>
          </ion-row>
        </ion-list>
      </div>
    </ion-content>
  </ion-menu>
</ng-container>
