page-job-record-losses {
  b {
    color: #f00;
  }
  ion-datetime.datetime-ios {
    border: 1px solid #ddd;
    padding-left: 0;
  }
  ion-textarea {
    border: 1px solid #ddd;
    textarea {
      height: 70px;
    }
  }
  h6 {
    color: #333;
  }
}

.jobRecordLossesModal .modal-wrapper {
  height: 700px;
  margin-top: -350px;
}

.hiddenCancelButton {
  .picker-toolbar-cancel {
    display: none;
  }
  .picker-toolbar-button {
    &:first-child {
      text-align: left;
    }
  }
}
