page-common-warehouse {
  .searchbar-input {
    width: 100%;
    height: 41px !important;
    background-color: #edf1f4 !important;
    border-radius: 5px !important;
    font-size: 1.6rem !important;
    color: #90969f !important;
    padding-left: 45px !important;
  }

  .searchbar-search-icon {
    width: 22px !important;
    height: 22px !important;
    background-size: 16px !important;
    background-position: center;
  }
}
