<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button (click)="goBack()">
        <ion-icon name="ios-arrow-back" class="my-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{modulesDetails && modulesDetails.title || ''}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="serchMenu()">
        <ion-icon name="ios-search" class="title-bar-icon"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content #search>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="下拉刷新"
      refreshingSpinner="circles"
      refreshingText="刷新..."
    >
    </ion-refresher-content>
  </ion-refresher>
  <div class="search">
    <span (click)='select("defaultSort")'
      >{{modulesDetails && modulesDetails.defaultSort &&
      modulesDetails.defaultSort.second || ''}}</span
    >
    <ion-icon
      name="md-arrow-round-up"
      class="sort"
      *ngIf='!(modulesDetails && modulesDetails.direction === "desc")'
      (click)='select("desc")'
    ></ion-icon>
    <ion-icon
      name="md-arrow-round-down"
      class="sort"
      *ngIf='modulesDetails && modulesDetails.direction === "desc"'
      (click)='select("asc")'
    ></ion-icon>
  </div>
  <div class="card-list">
    <div class="card" *ngFor="let modules of modulesList">
      <!-- <img [src]="getImg(modules.icon)" alt=""> -->
      <div class="card-content">
        <h1>{{modules.groupName}}</h1>
        <div
          echarts
          [options]="buildOption(modules.values)"
          class="card-content-echarts"
        ></div>
      </div>
    </div>
  </div>
  <ion-infinite-scroll
    (ionInfinite)="doInfinite($event)"
    threshold="5%"
    *ngIf="canInfinite"
  >
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-menu
  [content]="search"
  side="right"
  (ionOpen)="menuInit()"
  (ionClose)="ionClose()"
  id="search"
  type="overlay"
  swipeEnabled="true"
  class="search-menu"
>
  <ion-content class="outer-content" no-bounce class="my-custom-menu">
    <div>
      <div
        class="condition"
        *ngIf='modulesDetails && (modulesDetails.dateType == "1" || modulesDetails.dateType == "2")'
      >
        <p>日期</p>
        <span
          [class.had-endtime]='modulesDetails && modulesDetails.dateType == "2"'
        >
          <!-- {{(modulesDetails && modulesDetails.startDate || '') | date:'yyyy-MM-dd'}} -->
          <ion-datetime
            cancelText="取消"
            doneText="确定"
            displayFormat="YYYY-MM-DD"
            [(ngModel)]="startDate"
            [max]="toDate"
            (ionChange)="changeDate('startDate')"
          ></ion-datetime>
        </span>
        <span
          [class.had-endtime]='modulesDetails && modulesDetails.dateType == "2"'
          *ngIf='modulesDetails && modulesDetails.dateType == "2"'
        >
          <!-- {{(modulesDetails && modulesDetails.endDate || '')| date:'yyyy-MM-dd'}} -->
          <ion-datetime
            cancelText="取消"
            doneText="确定"
            displayFormat="YYYY-MM-DD"
            [(ngModel)]="endDate"
            [max]="toDate"
            (ionChange)="changeDate('endDate')"
          ></ion-datetime>
        </span>
      </div>
      <div class="condition">
        <p>电站</p>
        <!-- <span>请选择</span> -->
        <input
          type="text"
          placeholder="请输入"
          [(ngModel)]="modulesDetails['stationName']"
          *ngIf="modulesDetails"
        />
      </div>
      <div class="condition">
        <p>区域</p>
        <span (click)='select("province")'
          >{{this.modulesDetails && this.modulesDetails.province &&
          this.modulesDetails.province.second || '省'}}</span
        >
        <span (click)='select("city")'
          >{{this.modulesDetails && this.modulesDetails.city &&
          this.modulesDetails.city.second || '市'}}</span
        >
        <span (click)='select("county")'
          >{{this.modulesDetails && this.modulesDetails.county &&
          this.modulesDetails.county.second || '县'}}</span
        >
      </div>
      <div class="condition">
        <p>电站类型</p>
        <span (click)='select("station")'
          >{{this.modulesDetails && this.modulesDetails.station &&
          this.modulesDetails.station.second || '请选择'}}</span
        >
      </div>
    </div>
    <div class="my-button">
      <button (click)="reset()">重置</button>
      <button (click)="submit()">查询</button>
    </div>
  </ion-content>
</ion-menu>
