<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button (click)="goBack()">
        <ion-icon name="ios-arrow-back" class="my-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>{{modulesDetails && modulesDetails.title || ''}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="serchMenu()">
        <ion-icon
          name="search"
          class="down-me"
          style="font-size: 1.4em"
        ></ion-icon>
      </button>
      <button ion-button icon-only (click)="downLoadFile()">
        <ion-icon
          name="md-download"
          class="down-me"
          style="font-size: 1.4em"
        ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content #search3>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-dropdown"
      pullingText="下拉刷新"
      refreshingSpinner="circles"
      refreshingText="刷新..."
    >
    </ion-refresher-content>
  </ion-refresher>
  <div class="echart-sss">
    <ion-slides pager>
      <ion-slide>
        <div class="echarts-content">
          <div #echarts1 class="echarts-content-div"></div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="echarts-content">
          <div #echarts2 class="echarts-content-div"></div>
        </div>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="card-list">
    <div
      class="card"
      *ngFor="let modules of modulesList"
      (click)="toDetailsPage(modules)"
    >
      <!-- <img [src]="getImg(modules.icon)" alt=""> -->
      <div class="card-content">
        <h1>{{modules.stationName}}</h1>
        <div class="card-content-test-list" *ngFor="let data of modules.datas">
          <span>{{data.lossTypeText}}</span>
          <span>{{data.lossNum}}次</span>
          <span>{{data.lossEnergy}}kWh</span>
        </div>
      </div>
    </div>
  </div>
  <ion-infinite-scroll
    (ionInfinite)="doInfinite($event)"
    threshold="5%"
    *ngIf="canInfinite"
  >
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<ion-menu
  [content]="search3"
  side="right"
  (ionOpen)="menuInit()"
  (ionClose)="ionClose()"
  id="search3"
  type="overlay"
  swipeEnabled="true"
  class="search-menu"
>
  <ion-content class="outer-content" no-bounce class="my-custom-menu">
    <div>
      <div class="condition" *ngIf="modulesDetails">
        <p>日期</p>
        <span [class.had-endtime]="modulesDetails ">
          <!-- {{(modulesDetails && modulesDetails.startDate || '') | date:'yyyy-MM-dd'}} -->
          <ion-datetime
            cancelText="取消"
            doneText="确定"
            displayFormat="YYYY-MM-DD"
            [(ngModel)]="startDate"
            [max]="toDate"
            (ionChange)="changeDate('startDate')"
          ></ion-datetime>
        </span>
        <span [class.had-endtime]="modulesDetails" *ngIf="modulesDetails ">
          <!-- {{(modulesDetails && modulesDetails.endDate || '')| date:'yyyy-MM-dd'}} -->
          <ion-datetime
            cancelText="取消"
            doneText="确定"
            displayFormat="YYYY-MM-DD"
            [(ngModel)]="endDate"
            [max]="toDate"
            (ionChange)="changeDate('endDate')"
          ></ion-datetime>
        </span>
      </div>
      <div class="condition">
        <p>电站</p>
        <span (click)="selectStation()">{{getStationNum()}}</span>
      </div>
    </div>
    <div class="my-button">
      <button (click)="reset()">重置</button>
      <button (click)="submit()">查询</button>
    </div>
  </ion-content>
</ion-menu>
