page-common-typical-operate-tickets {
    .notice-list-box {
        background: #f0f0f0;
        margin-top: 5px;
        .other-title {
            background: #fff;
            padding-bottom: 10px;
        }
    }
    .new-notice-list {
        height: 70px;
        position: relative;
        background: #fff;
        margin-top: 3px;
        .left-img {
            width: 15%;
            text-align: center;
            padding-top: 20px;
            img {
                width: 30px;
            }
        }
        .checked-icon {
            position: absolute;
            width: 20px;
            height: 20px;
            right: 20px;
            top: 15px;
        }
        .notice {
            position: absolute;
            left: 15%;
            width: 75%;
            margin-top: 7px;
            .notice-title {
                display: flex;
                height: 40px;
                align-items: center;
                span {
                    font-size: 14px;
                    color: #000;
                    flex: 1;
                    display: flex;
                    justify-content: center;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
            }
            .notice-subtitle {
                .notice-subtitle-content {
                    display: inline-block;
                    font-size: 12px;
                    :first-child {
                        color: #727272;
                        margin-right: 0.5em;
                    }
                    &.right {
                        margin-right: 0em;
                        // margin-left: 1.3em;
                    }
                }
            }
        }
    }
}
